/*reset*/

ul,
li {
    margin: 0;
    padding: 0;
}

.screensection {
    width: 100%;
    height: 600px;
    color: white;
    position: relative;
    background: url("http://img.blog.csdn.net/20160720172344580") rgb(18, 17, 20) no-repeat fixed;
    background-size: 670px 100%;
    background-position: 0 0;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: normal;
    font-style: normal;
    font-size: 57px;
    line-height: 43px;
    text-transform: uppercase;
    padding: 0 0 10px 0;
}

.tree {
    width: 300px;
    height: 500px;
    background-image: url("http://pngimg.com/upload/tree_PNG3475.png");
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: -20%;
    /*filter: blur(5px);
    -webkit-filter: blur(2px);*/
}

.bird {
    background-image: url("http://www.ok-studios.de/fileadmin/templates/okstudios/images/home_frei.png");
    background-position: 20px bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 220px;
    width: 315px;
    position: absolute;
    right: 300px;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    /*-webkit-filter: blur(5px);*/
}


/*content section*/

.content {
    position: relative;
    z-index: 2;
    background: white;
    margin-bottom: 400px;
    /* min-width: 640px; */
}

article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
}


/*albums*/

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}


/*Model Grid*/

.albums figure {
    /* margin-bottom: 20px; */
    position: relative;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.albums .is-showing {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.albums figure img {
    display: block;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.albums figure:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.albums figcaption {
    position: absolute;
    bottom: 15px;
    left: -100%;
    background: black;
    color: white;
    padding: 2px 8px;
    font-size: 11px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.albums figure:hover figcaption {
    left: 15px;
}


/*large-window*/

.large-window {
    height: 640px;
    /*background-image: url("http://img.blog.csdn.net/20160714114130582");*/
    /*background-image: url("http://a3.qpic.cn/psb?/V10nE2M01DpVeQ/YJaZs70rLfvfdfItGAoqalKZtwDu4sklQ5ix3d3A2r0!/b/dOMAAAAAAAAA&bo=OAQ4BHcEdwQFCSo!&rf=viewer_4");*/
    background-image: url("http://a1.qpic.cn/psb?/V10nE2M01DpVeQ/4MQpBavVrnPcsHlVtxrLVFEjpFOzmhKfYqNzA.jesD0!/b/dOQAAAAAAAAA&bo=OASgBdALwA8FCac!&rf=viewer_4");
    background-position: 30% 10%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    border-radius: 50%;
    margin-top: 100px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.window-tint {
    background-color: rgba(1, 1, 1, 0.7);
    /* position: absolute; */
    border-radius: 50%;
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.promo-text {
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 0px 7px;
    border: 1px solid;
    border-radius: 12px;
    -webkit-animation: blink 0.5s ease-in-out infinite alternate;
            animation: blink 0.5s ease-in-out infinite alternate;
}

@keyframes blink {
    100% {
       color: rgba(255, 255, 255, 1);
    }
}

@-webkit-keyframes blink {
    100% {}
}

.promo-text span {
    font-size: 30px;
}

.promo-text:hover, .promo-text:active, .promo-text:visited{
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 12px;
}


/*blog-posts*/

.blog-posts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.post {
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 1px solid #e1e1e1;
    padding: 20px 10px;
    background: white;
    position: relative;
}

.post img + p {
    word-wrap: break-word;
}

.post-content {
    margin-bottom: 10px;
}

.post-content > p {
    margin-top: 10px;
}

.post-1 {
    -webkit-transform: translate(100px, 20px);
        -ms-transform: translate(100px, 20px);
            transform: translate(100px, 20px);
}

.post-2 {
    z-index: 2;
}

.post-3 {
    -webkit-transform: translate(-100px, 20px);
        -ms-transform: translate(-100px, 20px);
            transform: translate(-100px, 20px);
}

.a-button {
    border: 1px solid #e1e1e1;
    margin: 10px;
    padding: 10px 20px;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: white;
}

.footer li {
    margin: 10px 0;
    list-style-position: inside;
}

.footer-stuff {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 640px;
}

.col {
    /* margin: 0 10px; */
    /* width: 20%; */
}

.find-me {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.other-friends {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.sign-up {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    word-wrap: break-word;
    /* text-align: end; */
}

body {
    /*height: 5000px;*/
}
