#main_content {
    height: 300px;
    width: 100%;
    margin-top: 50px
}

#backhome {
    position: relative;
    height: 200px
}

.drag {
    position: absolute
}

.drag:hover {
    cursor: pointer
}

#dog {
    right: 0;
    bottom: 60px
}

#backhome span {
    margin-left: 20px;
    color: #A94442
}

.name-field {
    margin-top: 10px
}

.email-field {
    margin-top: 3px
}

.pwd-field {
    margin-top: 10px
}

.pwd2-field {
    margin-top: 10px
}

.register label {
    float: left;
    width: 80px;
    margin-right: 10px;
    text-align: right
}

.register .name_msg,
.register .psw_msg,
.register .psw2_msg,
.register .email_msg {
    margin-left: 10px;
    display: none
}

.intensity,
#count {
    padding-left: 90px;
    margin-top: 3px
}

#count {
    visibility: hidden;
    color: #999;
    font-size: 12px
}

.intensity span {
    display: inline-block;
    background: #FBAA51;
    width: 55px;
    height: 20px;
    text-align: center
}

.intensity .active {
    background: rgba(0, 128, 0, 0.61)
}

.register .submitBtn {
    width: 163px;
    margin: 10px 0 0 90px
}

#submit {
    color: #555
}

.readySubmit {
    background-color: rgba(0, 128, 0, 0.61)
}

#album {
    position: relative
}

.clearfix::after {
    content: "";
    display: "block";
    clear: both;
    visibility: hidden;
    height: 0
}

.pin {
    padding: 15px 0 0 15px;
    float: left
}

.box {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 6px #ccc;
    border-radius: 5px
}

.box img {
    width: 162px;
    height: auto
}
